---
 import config from "./confing"
 const personalImageAlt = "Marcelino Majerhua"

---

<article class="flex flex-col items-center justify-center gap-8 text-gray-700 dark:text-gray-300 md:flex-row">
  <div
    class="[&>p]:mb-4 [&>p>strong]:text-yellow-500 dark:[&>p>strong]:text-yellow-100 [&>p>strong]:font-normal [&>p>strong]:font-mono text-pretty order-2 md:order-1"
  >
      <p>
          Mi nombre es Marcelino Majerhua Ayala, y mi trayectoria en la programación comenzó hace <strong> más de 5 años. </strong>
          En la actualidad, formo parte de un equipo en Indra, donde me dedico a asegurar la <strong>calidad, escalabilidad y resiliencia</strong> en el desarrollo de soluciones backend.
      </p>

      <p>
          Entre mis logros se destaca <strong>mi colaboración en la migración de una arquitectura monolítica a una basada en microservicios en Rimac Seguros</strong>.
      </p>
      <p>
          He fomentado y estandarizado el uso de CI/CD para los diferentes proyectos de IoTecnova. Reduciendo el tiempo de entrega y los errores.
      </p>
  </div>

  <img width="200" height="200" src=`${config.BASE_URL}/me.jpg` alt={personalImageAlt} class="order-1 object-cover w-64 h-full p-1 md:order-2 rotate-3 lg:p-2 lg:w-64 aspect-square rounded-2xl bg-black/20 dark:bg-yellow-500/5 ring-1 ring-black/70 dark:ring-white/20 " style="object-position: 50% 50%">

</article>
