---
import ExperienceItem from "./ExperienceItem.astro"
const EXPERIENCIE = [
  {
    date: "Mayo 2024 - actualmente",
    title: "Desarrollador Back End",
    company: "Indra",
    description:
      `Encargado de la creación y optimización de microservicios backend usando AWS, NestJS, Node.js, Python, etc. 
      Con un enfoque en soluciones Serverless para mejorar la eficiencia. He desarrollado un pipeline de CI/CD que redujo el tiempo de despliegue en un 29% 
      y colaboro con equipos de desarrollo para implementar arquitecturas orientadas a microservicios.`
  },
  {
    date: "Febrero 2022 - Mayo 2024",
    title: "Desarrollador Back End",
    company: "Iotecnova",
    description:
      `Responsable de gestionar y desarrollar microservicios, garantizando alta disponibilidad y rendimiento. Implementé soluciones automatizadas 
      que redujeron errores y aumentaron los lanzamientos en un 35%. Coordiné equipos multidisciplinarios para alinear la infraestructura con las necesidades del negocio.`
  },
  {
    date: "Junio 2021 - Enero 2022",
    title: "Desarrollador Full Stack",
    company: "Kybernet ",
    description:
      `Responsable del desarrollo full stack de aplicaciones web, asegurando la calidad y el rendimiento en todas las capas del sistema. Implementé automatizaciones en 
      flujos de trabajo y despliegue, mejorando la velocidad de entrega de nuevas funcionalidades. Trabajé con equipos de backend, frontend y producto para crear soluciones 
      alineadas con los requisitos del usuario y del negocio.`
  },
]
---

<ol class="relative mt-16">
  {
    EXPERIENCIE.map((experiencie) => (
            <li class="">
                <ExperienceItem {...experiencie}/>
            </li>
    ))
  }
</ol>
