---
import ExperienceItem from "./ExperienceItem.astro"
const EXPERIENCIE = [
  {
    date: "Mayo 2024 - actualmente",
    title: "Desarrollador Back End",
    company: "Indra",
    description:
    `Encargado de la creación y optimización de microservicios. Contribuyo en la implementación de arquitecturas escalables y resilientes, 
    utilizando tecnologías como NestJS, AWS, Kafka, MySQL, entre otras. Tengo experiencia en prácticas de CI/CD con Jenkins, AWS CodePipeline y GitHub Actions, 
    mejorando la eficiencia en la entrega de software y asegurando la calidad del código. También gestiono infraestructura como código con AWS CloudFormation y 
    participo en la formación de equipos técnicos`
  },
  {
    date: "Febrero 2021 - Mayo 2024",
    title: "Desarrollador Back End",
    company: "Iotecnova",
    description:
      `Responsable de gestionar y desarrollar microservicios, utilizando tecnologías como NestJS, Python, AWS, Firebase, MySQL, entre otras. 
      Implementé soluciones automatizadas que redujeron errores. Coordiné equipos multidisciplinarios para alinear la infraestructura con las necesidades del negocio.`
  },
  {
    date: "Junio 2020 - Enero 2021",
    title: "Desarrollador BackEnd",
    company: "Kybernet ",
    description:
      `Encargado del desarrollo full stack de aplicaciones web, asegurando la calidad y el rendimiento en todas las capas del sistema. Implementé automatizaciones en 
      flujos de trabajo y despliegue, mejorando la velocidad de entrega de nuevas funcionalidades. Trabajé con equipos de backend, frontend y producto para crear soluciones 
      alineadas con los requisitos del usuario y del negocio.`
  },
]
---

<ol class="relative mt-16">
  {
    EXPERIENCIE.map((experiencie) => (
            <li class="">
                <ExperienceItem {...experiencie}/>
            </li>
    ))
  }
</ol>
