---
import ExperienceItem from "./ExperienceItem.astro"
const EXPERIENCIE = [
  {
    date: "Mayo 2024 - actualmente",
    title: "Desarrollador Back End",
    company: "Indra",
    description:
      `Me encargo de la creación y optimización de microservicios backend con AWS,
       NestJS y Node.js, integrando soluciones Serverless para aumentar la eficiencia operativa.
       He desarrollado un pipeline de CI/CD que redujo los tiempos de despliegue en un 39%, permitiendo entregas rápidas y seguras.
       También colaboro con múltiples equipos de desarrollo para implementar estrategias de arquitectura orientadas a microservicios.`
  },
  {
    date: "Febrero 2022 - Mayo 2024",
    title: "Desarrollador Back End",
    company: "Iotecnova",
    description:
      `Fui responsable de gestionar y desarrollar microservicios, asegurando alta disponibilidad y rendimiento. 
      Implementé soluciones automatizadas que redujeron errores y aumentaron los lanzamientos en un 35%. Además, 
      coordiné equipos multidisciplinarios para alinear la infraestructura con las necesidades del negocio.`
  },
  {
    date: "Septiembre 2021 - Enero 2022",
    title: "Desarrollador Full Stack",
    company: "Kybernet ",
    description:
      `Gestioné el desarrollo full stack de aplicaciones web, 
     asegurando calidad y rendimiento en todas las capas del sistema. 
     Automatizé flujos de trabajo y despliegue, acelerando la entrega de nuevas funcionalidades. Además, 
     colaboré con equipos de backend, frontend y producto para desarrollar soluciones alineadas con las necesidades del usuario y del negocio.`
  },
]
---

<ol class="relative mt-16">
  {
    EXPERIENCIE.map((experiencie) => (
            <li class="">
                <ExperienceItem {...experiencie}/>
            </li>
    ))
  }
</ol>
