---
const { urls = [] } = Astro.props;
---

<div class="grid grid-cols-1 gap-6">
    {urls.map((url, index) => (
      <div key={index}>
          <img class="h-auto max-w-full rounded-lg" src={url} alt={`Gallery image ${index + 1}`} />
      </div>
    ))}
</div>
